**/nbproject/
**/dist
**/build
**/target
**/.DS_Store
**/nbbuild/
**/nbdist/
**/.nb-gradle/
**/node_modules/
/bin/
/.idea
script-generator/coolwallet-signing-sdk.iml
script-generator/target
script-generator/${project.build.directory}